body {
    background: #cec6b6;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #283f4b;
    font-family: sans-serif;
  }

#sidebar {
  width: 150px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  /* background-color: #f4f4f4; */
  padding: 10px;
  /* border-right: 2px solid #ccc; */
  margin-top: 100px;
  text-align: center;
  /* font-family: cursive; */
}

ul#favoritesList {
  padding-left: 0px;
}

li.favorite {
  list-style-type: none;
  padding-left: 0px;
}

#main-content {
  margin-left: 100px;
  padding: 20px;
}

div {
  text-align: center;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%; /* Ensure images do not overflow their containers */
  height: auto; /* Maintain aspect ratio */
}

#drinkMenu {
  padding-left: 15%;
  padding-right: 15%;
}

li.drink {
    cursor: pointer; /* Make it clear that the items are clickable */
    padding: 2px 10px; /* Add padding for better spacing */
    display: inline-block; /* Makes the element only as wide as its content */
    margin: 5px 0; /* Adds vertical margin for spacing between items */
    list-style-type: none; /* removes bullets */
}

li.drink:hover {
  background-color: #f0f0f0;
  font-style: italic; /* A hover effect to indicate interactivity */
}

/* Error message styling */
#errorMessage {
  color: rgb(116, 32, 32); /* Make the error message stand out */
  font-weight: bold; /* Emphasize the error message */
  font-size: large;
}

#drinkRecipe{
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 10px; /* Padding inside the container */
  margin: 5px auto;
  width: 50%;
}

h4 {
  margin-bottom: 0.5em;
  margin-top: 0.5 em;
}

/* Styling for ingredients list */
ol {
  list-style-type: decimal; /* Ensures that numbering is on */
  padding-left: 40px; /* Provides space for numbers */
  margin-top: 0;
  margin-bottom: 0;
}

li.ingredient {
  display: list-item; /* Ensures list item displays with a number */
  text-align: left; /* Aligns the text to the left */
}

p {
  margin-top: 0;
}

#favoriteButton {
  background-color: white;
  border: none;
  cursor: pointer;
  /* outline: none; */
  visibility: hidden;
  margin-bottom: 1em;
}

#favoriteButton:hover {
  opacity: 0.7;
  color: red;
}